@using JetStudy.Core.Entities

@model IEnumerable<Course>

@{
    ViewData["Title"] = "Список курсів";
    //Layout = "~/Views/Shared/_JetStudyAdminLayout";
}

<div class="float-end">
    <a href="/course/create" class="btn btn-warning">Додати курс</a>
</div>

<div class="page-heading">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="page-content">

    <div class="row">
        @foreach (var course in Model)
        {
            <!-- Взяв картку з зображенням зі сторінки https://getbootstrap.com/docs/5.3/components/card/ -->

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                <div class="card mb-2">
                    <img src="@course.CoverPath" class="card-img-top" alt="@course.Title">
                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                        <p class="card-text">@course.ShortDesc</p>
                        <a href="/course/details/@course.Id" class="btn btn-outline-primary">Детальніше</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


