@    using JetStudy.Core.Entities

@model IEnumerable<Course>

@{
    ViewData["Title"] = "Список курсів";
    //Layout = "~/Views/Shared/_JetStudyAdminLayout";
}


<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>@ViewData["Title"]</h3>
            <p class="text-subtitle text-muted">
                Перелік усіх доступних курсів для вивчення
            </p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Головна</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Курси</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/course/create" class="btn btn-warning">Додати курс</a>
            }
        </div>
    </div>
</div>

<hr />
    <section class="section">
        <div class="row">
            @foreach (var course in Model)
            {

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>@course.Title</h4>
                        </div>
                        <div class="card-body">
                            <img src="@course.CoverPath" class="card-img-top" alt="@course.Title">

                            <p class="card-text">@course.ShortDesc</p>
                            <a href="/course/details/@course.Id" class="btn btn-outline-primary">Детальніше</a>
                            <p>
                                <small>@course.Owner.LastName @course.Owner.FirstName</small>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>


